#recipesContainer{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

#recipesContainer > * {
   margin: 50px;
}

.btn {
   margin-top: 15px;
   width: 76px;
   height: 31px;
   border: 2px solid var(--main-color);
   border-radius: 4px;
   font-weight: 700;
   font-size: 11px;
   color: var(--main-color);
   background: var(--bg-color);
   text-transform: uppercase;
   transition: all 0.3s;
   margin: 5px;
 }
 
 .btn-solid {
   background: var(--main-color);
   color: var(--bg-color);
 }
 
 .btn:hover {
   background: var(--main-color);
   color: var(--bg-color);
 }
 
 .btn-solid:hover {
   background: var(--bg-color);
   color: var(--main-color);
 }